.App {
/*  text-align: center;*/
  background-color: #282c34;
  background-image: linear-gradient(209deg, rgb(41, 44, 51), rgb(29 33 38));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
/*  font-size: calc(10px + 2vmin);*/
  color: white;
}

.loading {
  text-align: center;
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: 'Star Jedi Rounded';
}



/*----------------*/
/*-----Header-----*/
/*----------------*/

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.app-title, .app-title-small-screen {
  margin-bottom: 2rem;
  font-family: 'Star Jedi Logo Monoline';
  font-size: 3rem;
/*  color: transparent;*/
  letter-spacing: 2px;
  padding: 1rem;
  /*text-shadow: 1px 1px 5px black, 1px 1px 5px black;
  color: #e0e000;
*/
  text-shadow: 2.5px 2.5px black, -2.5px -2.5px black, -2.5px 2.5px black, 2.5px -2.5px black;
  color: #f2f3f4;
}

.app-title {
  white-space: nowrap;
}

.app-title-small-screen {
  display: none;
}

.rebel-symbol-enabled, .rebel-symbol-disabled {
  font-family: 'Star Jedi Rounded';
  font-size: 3rem;

  /*background-image: linear-gradient(#e46262, #461616);
  color: transparent;
  background-clip: text;*/

  color: #f2f3f4;
  text-shadow: 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;

  margin-top: 0;
  margin-bottom: 2rem;
  transition: 0.2s ease;
}

.rebel-symbol-enabled:hover {
  text-shadow: none;
  background-image: linear-gradient(#e46262, #461616);
  color: transparent;
  background-clip: text;
  cursor: pointer;
}


.prompt {
  font-family: 'Sterilict';
  text-shadow: 1px 1px 2px black;
  letter-spacing: 3px;
  margin-top: 0;
}

.welcome-box {
  position: relative;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #222;
  border: 2px ridge #dfde7b;
  border-radius: 6px;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.close-welcome {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  margin: 0.2rem 0.2rem 0 0;
  padding: 0.2rem;
  color: #858687;
  background: rgba(60, 60, 60, 0.5);
  border-radius: 4px;
  border: 2px solid grey;
  border-style: outset;
  opacity: 0.7;
  transition: 0.05s ease;
}

.close-welcome:hover {
  cursor: pointer;
  background: rgba(80, 80, 80, 0.5);
}

.close-welcome:active {
  border-style: inset;
  background: rgba(60, 60, 60, 0.5);
}

.welcome-tag {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
  padding: 0 1rem;
  max-width: 70%;
}

.description {
  text-align: center;
  max-width: 90%;
  margin-bottom: 2rem;
/*  display: none;*/
}




/*----------------*/
/*--Main Content--*/
/*----------------*/

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 80%;
  max-width: 80%;
/*  overflow: auto;*/
/*  overflow: hidden;*/
}

/*.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}*/

/*.nav-image-box {
  width: 200px;
  height: 100px;
}*/

/*.nav-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}*/

.nav-group {
/*  max-width: 60%;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.nav-group a {
  text-decoration-color: white;
  text-decoration: none;
/*  list-style: none;*/
}

.nav-name {
  font-family: 'Star Jedi Rounded';
  letter-spacing: 1.5px;
  color: #f2f3f4;
  padding-left: 0.4rem;
  margin: 1rem;
  transition: 0.3s ease;
}

.nav-name:hover {
  font-size: 1.15rem;
  text-shadow: 0 0 2px white;
  margin: 0.55rem;
}

/*.nav-name:hover ~ .nav-image-box {
  opacity: 0;
}*/

.planet-box {
  position: relative;
  display: block;
  margin-bottom: 4rem;
  min-width: 80%;
  width: 100%;
  background: #333;
/*  background-image: radial-gradient(rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.3) 90%), url(./Naboo.jpg);*/
/*  background-size: cover;*/

/*  border: 3px solid #222;*/
  border: 3px solid #111;
  border-radius: 6px;
  padding: 2rem;
  z-index: 0;
/*  display: none;*/
}


.planet-box-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  border-radius: 3px;
}


.planet-title {
  display: inline-block;
  margin: 0;
  margin-bottom: 2rem;
  margin-left: 2rem;
  text-align: center;
  font-style: italic;
  font-family: 'Star Jedi Rounded';
  font-size: 2.5rem;
  text-shadow: 1px 1px 8px black;
  border-bottom: 4px solid white;
}




/*----------------*/
/*--Fetched Data--*/
/*----------------*/

.fetched {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 85%;
  margin: 1rem;
  margin-bottom: 4rem;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid #888;
  border-radius: 10px;
}

.fetched-values{
  margin-left: 2rem;
  overflow: auto;
}

.fetched-item {
  text-align: left;
  list-style: none;
  white-space: nowrap;
  font-family: 'Sterilict';
  font-size: 1.2rem;
  line-height: 1.9rem;
  text-shadow: 1px 1px 2px black;
  letter-spacing: 3px;
}



/*----------*/
/*--Button--*/
/*----------*/

#new-planet {
  margin-top: 2rem;
  margin-left: 1.2rem;
/*  text-align: left;*/
}

#new-planet-text {
  font-family: 'Sterilict';

}

.button {
  padding: 0.5rem;
  font-size: 1rem;
  font-family: 'Sterilict';
  letter-spacing: 2px;
}



/*-----------------*/
/*--Media Queries--*/
/*-----------------*/

/*@media screen and (max-width: 950px) {
  .fetched-values {
    max-width: 380px;
  }
}*/

/*@media screen and (max-width: 750px) {
  .fetched-values {
    overflow: auto;
  }
}*/

@media screen and (max-width: 700px) {
  .app-title {
    display: none;
  }

  .app-title-small-screen {
    display: block;
    width: min-content;
    text-align: center;
    line-height: 3rem;
  }

  .content-container {
    display: flex;
    align-items: center;
    max-width: 80%;
  }

  .planet-box {
    padding-left: 0;
  }

  .fetched {
    overflow: auto;
    max-width: 84%;
    margin-left: 1.5rem;
  }

  .fetched-item {
    font-size: 0.8rem;
    letter-spacing: 1.8px;
  }

  .button {
    padding: 0.5rem;
    font-size: 0.65rem;
    letter-spacing: 1.8px;
  }

  #new-planet {
    text-align: center;
  }
}


